[Unit]
Description=Molly Big Red Button Daemon

[Service]
Type=simple
ExecStart=/usr/local/bin/mollyd
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target